<footer>
    <div class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="navbar-brand"><img src="../../../assets/img/cidenet-logo.png" alt="" width="100%"></div>
                </div>

                <div class="col text-right">
                    <p>CONTÁCTENOS</p>
                    <p>Calle 47D #72-29, Medellín - Colombia</p>
                    <p>(+57) (4) 3222567</p>
                    <p>(+57) 3104854740</p>
                    <p>comunicaciones@cidenet.com.co</p>
                </div>
            </div>

        </div>
    </div>
</footer>