<div class="card text-center">
    <div class="card-header">
        Registro de empleados
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos personales</h5>
        <div class="container">

            <form [formGroup]="empleado" (submit)="save()" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Primer apellido"
                                formControlName="p_apellido">
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Segundo apellido"
                                formControlName="s_apellido">
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Primer nombre"
                                formControlName="p_nombre">
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Otros nombres"
                                formControlName="s_nombre">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><i
                                        class="fas fa-globe-americas"></i></label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" formControlName="pais">
                                <option value="1">Colombia</option>
                                <option value="2">Estados Unidos</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><i
                                        class="fas fa-address-card"></i></label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" formControlName="tipo_id">
                                <option value="1">Cedula de Ciudadania</option>
                                <option value="2">Cedula de Extranjeria</option>
                                <option value="3">Pasaporte</option>
                                <option value="4">Permiso Especial</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Numero"
                                formControlName="n_identificacion">
                        </div>
                    </div>

                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Fecha ingreso dd/mm/yyyy" formControlName="f_ingreso"
                            pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-briefcase"></i></label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" formControlName="area">
                                <option value="1">Administracion</option>
                                <option value="2">Financiera</option>
                                <option value="3">Compras</option>
                                <option value="4">Infraestructura</option>
                                <option value="5">Operacion</option>
                                <option value="6">Talento humano</option>
                                <option value="7">Servicios varios</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!empleado.valid || this.habilitar">
                    <span *ngIf="this.habilitar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Guardar
                </button>
            </form>

        </div>

    </div>
    <div class="card-footer text-muted">
    </div>
</div>