<div class="container">

    <form [formGroup]="filtro" (submit)="filtrar()" novalidate>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Primer apellido" formControlName="p_apellido">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Segundo apellido" formControlName="s_apellido">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Primer nombre" formControlName="p_nombre">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Otros nombres" formControlName="s_nombre">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01"><i
                                class="fas fa-globe-americas"></i></label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="pais">
                        <option value=""></option>
                        <option value="1">Colombia</option>
                        <option value="2">Estados Unidos</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01"><i
                                class="fas fa-address-card"></i></label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="tipo_id">
                        <option value=""></option>
                        <option value="1">Cedula de Ciudadania</option>
                        <option value="2">Cedula de Extranjeria</option>
                        <option value="3">Pasaporte</option>
                        <option value="4">Permiso Especial</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Numero" formControlName="n_identificacion">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-exclamation"></i></label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="estado">
                        <option value=""></option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary" type="submit" [disabled]="!filtro.valid || this.habilitar">
                    <span *ngIf="this.habilitar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Filtrar
                </button>
            </div>
        </div>

    </form>

</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">1er Apellido</th>
            <th scope="col">2do Apellido</th>
            <th scope="col">1er Nombre</th>
            <th scope="col">2do Nombre</th>
            <th scope="col">Tipo documento</th>
            <th scope="col"># Documento</th>
            <th scope="col">Pais</th>
            <th scope="col">Area</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha modificacion</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lista;let indice=index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.p_apellido}}</td>
            <td>{{item.s_apellido}}</td>
            <td>{{item.p_nombre}}</td>
            <td>{{item.s_nombre}}</td>
            <td>{{item.t_documento}}</td>
            <td>{{item.n_documento}}</td>
            <td>{{item.pais}}</td>
            <td>{{item.area}}</td>
            <td>{{item.f_ingreso}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.f_hora_registro}}</td>
            <td>{{item.email}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal" (click)="editar(indice)">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="confirmarEliminacion(item.id)" data-toggle="modal"
                    data-target="#confirmarModal">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4 text-left">
            <p>cantidad de registros {{this.tam_registros}}</p>
        </div>

        <div class="col-4 text-right">
            <button type="button" class="btn btn-primary" [disabled]="this.antButton" (click)="pagAnterior()">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
            
            <button type="button" class="btn btn-primary" [disabled]="this.sigButton" (click)="pagSiguiente()">
                <i class="fas fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Desea eliminar el registro
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
                <button id="confirmarModalEliminar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Actualizar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="empleado" (submit)="actualizar()" novalidate>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Primer apellido"
                                    formControlName="p_apellido">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Segundo apellido"
                                    formControlName="s_apellido">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Primer nombre"
                                    formControlName="p_nombre">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Otros nombres"
                                    formControlName="s_nombre">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01"><i
                                            class="fas fa-globe-americas"></i></label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="pais">
                                    <option value="1">Colombia</option>
                                    <option value="2">Estados Unidos</option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01"><i
                                            class="fas fa-address-card"></i></label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="tipo_id">
                                    <option value="1">Cedula de Ciudadania</option>
                                    <option value="2">Cedula de Extranjeria</option>
                                    <option value="3">Pasaporte</option>
                                    <option value="4">Permiso Especial</option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Numero"
                                    formControlName="n_identificacion">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Fecha ingreso dd/mm/yyyy"
                                    formControlName="f_ingreso"
                                    pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01"><i
                                            class="fas fa-briefcase"></i></label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="area">
                                    <option value="1">Administracion</option>
                                    <option value="2">Financiera</option>
                                    <option value="3">Compras</option>
                                    <option value="4">Infraestructura</option>
                                    <option value="5">Operacion</option>
                                    <option value="6">Talento humano</option>
                                    <option value="7">Servicios varios</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!empleado.valid" >Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_cancelarModal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
