<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#"><strong class="titulo">Cidenet</strong></a>-->
      <div class="navbar-brand"><img [routerLink]="['/']" src="../../../assets/img/cidenet-logo.png" alt="" width="40%"></div>
      
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/consultar']" routerLinkActive="router-link-active" >Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/registrar']" routerLinkActive="router-link-active" >Registrar</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <br>
